<div mat-dialog-content>
  <div class="message">
    <p>
      <mat-selection-list #shoes>
          <mat-list-option *ngFor="let shoe of typesOfService" (click)="onAreaListControlChanged(shoe)" [value]="shoe" checkboxPosition="before">
            {{shoe.toUpperCase()}}
          </mat-list-option>
        </mat-selection-list>
    </p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="onNoClick()">Cancel</button>
  <button mat-button color="accent" (click)="saveClick()"  cdkFocusInitial>Delete</button>
</div>

