<mat-toolbar color="primary">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
    <a mat-button routerLink="/createtemp" routerLinkActive="mat-accent">Create Template</a>
  </li>
</ul>
<span class="spacerright"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
  </ul>
  <span class="spaceright"></span>
  <ul>
    <li>
    <a mat-button routerLink="/freetrial" routerLinkActive="mat-accent">Free trial</a>
  </li>
</ul>
<span class="spaceright"></span>
  <ul>
    <li>
    <a mat-button routerLink="/subscribed" routerLinkActive="mat-accent">Subscribed User</a>
  </li>
</ul>
</mat-toolbar>


